@charset "UTF-8";



*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root{
    ---fonte01:'Passion One', serif;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
    
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3em;
    
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 48, 48);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}


