@charset "UTF-8";

body{
    background-color: white;
}

h1{
    color: black;
}

h2{
    color: black;
}

p{
    color: black;
}

main{
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
   
}